/* jsTree tablized style */

.jstree-default .jstree-ocl {
	visibility: hidden;
}

.jstree-default .jstree-icon:empty {
	width: 24px;
	height: 32px !important;
	line-height: 32px !important;
}

.jstree-default .jstree-anchor {
	line-height: 32px;
	height: 32px;
	position: relative;
}

.jstree-default .jstree-wholerow {
	cursor: auto;
	height: 32px;
	border-top: 1px solid #bbb;
	width: 100%;
	position: absolute;
	left: 0;
}
.jstree-default .jstree-wholerow:hover {
	background-color: #e7f4f9;
}

.jstree-default .jstree-clicked, .jstree-default .jstree-hovered {
	background: 0 0;
	box-shadow: none;
	border-radius: 0;
}

.jstree-parent-node-text {
	font-weight:bold;
	color:gray !important;
	cursor: text !important;
}

.jstree-table-header-cont {
	position: relative;
	padding: 4px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	
}

.jstree-table-header, .jstree-table-col {
	float: right;
	padding: 0 1em;
}

.jstree-table-row-even {
	background-color: #f0f0f0;
}

.jstree-default .jobStatus {
	width: 16%;
}

.jstree-default .lastDuration {
	width: 10%;
}

.jstree-default .lastLaunch {
	width: 10%;
}

.jstree-default .buildNum {
	width: 10%;
}

.jstree-wholerow-container {
	position: relative;
	display: inline-block;
	min-width: 100%;
}