.clear2 {clear:both; font-size:1px; visibility:hidden;}

#side-panel {
	position: absolute;
}

/*ui-tabs css*/
.ui-tabs{
	padding: 1em;
}

.ui-tabs .ui-tabs-header{
	margin: 0;
	padding-left: 1em;
	list-style: none;
}

.ui-tabs .ui-tabs-tab{
	background-color: #F0F0F0;
	border: 1px solid #BBB;
	padding: .5em;
	border-top-left-radius: .5em;
  	border-top-right-radius: .5em;
	border-bottom: none;
	float: left;
	margin: 0 .1em;
}

.ui-tabs .ui-tabs-tab a{
	color: #444;
	text-decoration: none;
}

.ui-tabs .ui-tabs-tab:hover{
	background-color: #666;
}

.ui-tabs .ui-tabs-tab.ui-tab-active{
	background-color: #FFF;
	padding: 1em;
	margin-top: -1em;
	border-bottom: .1em solid #FFF;
	position: relative;
	top: .1em;
}

.ui-tabs .ui-tabs-content{
	width:100%;
	border: 1px solid #BBB;
	clear: both;
}

.ui-tabs .ui-tabs-pane{
	width:100%;
	display:none;
}

.params-disabled, .params-disabled>option{
	background-color: #EBEBE4;
	color: black;
}

.setting-input {
	width: 95%;
}